/** 
    Document   : global.css
    Created on : Dec 22, 2011, 9:38:52 PM
    Author     : Anton Zekeriev Rodin 
    Description:

        This is for DEVELOPMENT: global-dev.css
        
        Global CSS 2.0 and 3.0 settings
        Based in one simple CSS Framework: http://www.crucialwebhost.com/blog/master-stylesheet-the-most-useful-css-technique/
        I rewrited it entirely for my code style, and add favorite classes and delete some tags and useless properties.

        Deprecated tags: u, acronym
        
        Sorry I don't like EMs, I only use pixel instead. ¿Why? Because I'am from Europe and I use Kms, Kg, Gr...
        Don't tell me about Cross Browsing and Stuff like that, it's FUCKING BULSHIT, or CSS and Browser BUG.
        Wanna convert My Pixels TO EM: 1em = 16px. Good Look!
*/

/** 
* Reset ALL!
*/
* { padding: 0; margin:0; border: 0;}

/**
* Global Settings
*/
html, body {}
body { font: 100%/1.25 Arial, Helvetica, sans-serif; }

/**
* Headings
*/
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { padding: 30px 0 25px 0; letter-spacing: -1px; font-size: 32px; }
h2 { padding: 20px 0; letter-spacing: -1px; font-size: 24px; }
h3 { font-size: 16px; font-weight: bold; }

/**
* Common formating
*/
p, ul, ol { padding: 0 0 20px 0; }
ul, ol { padding: 0 0 20px 40px; }
blockquote { margin: 20px; padding: 20px 20px 0 20px; }
small { font-size: 14px; }
img { }
sup { position: relative; bottom: 5px; vertical-align: baseline; }
sub { position: relative; bottom: -2px; vertical-align: baseline; }
abbr { cursor: help; letter-spacing: 1px; border-bottom: 1px dashed; }

/**
* Forms
*/
form { display: inline; }
form input, form select, form textarea { font-size: 16px; }
form textarea { width:100%; line-height: 1.25; }
form label {cursor:pointer;}

/**
* Tables
*/
table { margin: 0 0 20px 0; }
table tr td { padding: 2px; }


/**
* Global classes. Memorize! 
*/
.h-margin      { margin: 0 auto; }
.clear         { clear: both; }
.float-left    { float: left; }
.float-right   { float: right; }

.text-left     { text-align: left; }
.text-right    { text-align: right; }
.text-center   { text-align: center; }
.text-justify  { text-align: justify; }

.bold          { font-weight: bold; }
.italic        { font-style: italic; }
.underline     { border-bottom: 1px solid; }
.highlight     { background: #ffc; }

.img-left      { float: left; margin: 4px 10px 4px 0; }
.img-right     { float: right; margin: 4px 0 4px 10px; }

.no-padding     { padding: 0; }
.no-indent      { margin-left: 0; padding-left: 0;}
.no-bullet      { list-style: none; list-style-image: none; }

.border-2 { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.border-5 { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }