/* 
    Document   : Website General Structure
    Created on : Mar 3, 2012, 9:48:35 PM
    Author     : Anton Zekeriev Rodin
    Description:
        Structure of the website, Simple and Usefull CSS Framework
*/

