/** 
    Document   : style.css
    Created on : Dec 22, 2011, 9:29:48 PM
    Author     : Anton Zekeriev Rodin
    Description:
        My Default StyleSheets
*/

/* Reset, global styles, default fonts, useful classes */
@import url("global.css");

/* Structure... width and height of the website elements */
@import url("structure.css");
